<div class="d-flex">
  <div class="row justify-content-center">
      <% @cocktails.each do |cocktail| %>
        <%= render 'shared/card', cocktail: cocktail %>
      <% end %>
  </div>
</div>

<%= link_to '+', new_cocktail_path, class: 'btn btn-success' %>
